<h1>Create New Question</h1>

<form action='/tests/<%= params[:test_id] %>/questions' method='post'>
  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
  <p>
    <label for='question-body'>Body:</label>
    <input type='text' name='question[body]' id='question-body'>
  </p><br>

  <input type='hidden' name='question[test_id]', value='<%= params[:test_id] %>'>
  <input type='submit' value='Create'>
</form>
